.background{
    background-color: white;
}

.bg_benef{
    background-color: white;
    border: 2px black solid;
}
html{
    scroll-behavior:smooth;
  }

#matpremiere{
    offset:252px;
}
.anchor{
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}
.pannel{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pannel-nav{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px, rgba(0, 0, 0, 0.3) 0px 10px, rgba(0, 0, 0, 0.2) 0px 15px, rgba(0, 0, 0, 0.1) 0px 20px, rgba(0, 0, 0, 0.05) 0px 25px;
}
.revenu{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    transition: box-shadow 0.1s ease-in-out;
}
.revenu:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
