.background{
    background-color: white;
}

.bg_benef{
    background-color: white;
    border: 2px black solid;
}
html{
    scroll-behavior:smooth;
  }

#matpremiere{
    offset:252px;
}
.anchor{
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}
.pannel{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pannel-nav{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px, rgba(0, 0, 0, 0.3) 0px 10px, rgba(0, 0, 0, 0.2) 0px 15px, rgba(0, 0, 0, 0.1) 0px 20px, rgba(0, 0, 0, 0.05) 0px 25px;
}
.pannelBen{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.revenu{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    transition: box-shadow 0.1s ease-in-out;
}
.revenu:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


/* Styles par défaut */
.texte {
    font-weight: normal; /* Texte normal par défaut */
}

.card-margin {
    margin:auto
}

.nav-item {
    padding: auto;
    margin-left: auto;
}

.card-body {
    padding-left: 0px;
    padding-right: 0px;
}

.col {
    padding-right: 0px;
    padding-left: 0px;
}

.container {
    padding-right: 0px;
    padding-left: 10px;
}

.text-nowrap {
    white-space: nowrap;
}

/* Media query pour un affichage inférieur à la taille moyenne */
@media (max-width: 768px) {
    .texte {
        font-weight: bold; /* Texte en gras pour les écrans plus petits que la taille moyenne */
    }

    .card-margin {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .nav-item {
        padding-left: 50px;
    }
}

